@media screen and (max-width: 480px) {
    .x-btn-login{
        font-size: 10px;
        font-weight: 700;
        text-wrap:nowrap;
        min-width: 100px;
        position: relative;
        z-index: 9999;
    }
    .x-welcome{
        display: none;
        padding-left:10px ;
    }
    .x-link-menu {
        position: relative;
        z-index: 9999;
      }
}
.x-footer-index{
    position: relative;
    z-index: 9998;
}
.x-header-store{
    overflow: hidden;
    position: relative;
    z-index: 9998;
}
#messageBox{
    position: absolute;
    z-index: 9999;
}