@media screen and (max-width: 480px) {
    .x-btn-login{
        font-size: 10px;
        font-weight: 700;
        text-wrap:nowrap;
        min-width: 100px;
        position: relative;
        z-index: 9999;
    }
    .x-welcome{
        display: none;
        padding-left:10px ;
    }
}
.x-footer-index{
    position: relative;
    z-index: 9998;
}
.x-header-store{
    overflow: hidden;
    position: relative;
    z-index: 9998;
}
.x-link-menu {
    position: relative;
    z-index: 9999;
  }
.x-store-catalogue-bar{
    position: relative;
    z-index: 9998;
}
#messageBox{
    position: absolute;
    z-index: 9999;
}
.x-exp{
    display: flex;
    flex-direction: row;
}
.x-store-expedion{
    max-width: 100px;
}
.x-menu-link-item i{
    color: aliceblue;
}
@media (max-width: 768px) {
    .hddi-responsive {
      font-size: 1.5rem; /* Ou la taille souhaitée */
    }
    .hddi-responsive-p {
      font-size: 1rem;
    }
  }

  .View_more {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    margin: 16px 0;
  }
  .View_more:hover {
    background-color: #0056b3;
  }
  .z-bar-header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
  }
  .z-bar-header button{
    position: relative;
    right: 50px;
    min-width: 50px;
    border: none;
  }
.b-booli{
  justify-content: center;
    align-items: center;
    background-color: orange;
    color: #fff;
    padding: 5px 10px;
    position: relative;
    width: 100%;
    min-height: 20px;
    animation-name: fock;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-delay: 60s;
    animation-direction: reverse;
}
@keyframes fock{
    0%{background-color: orange;}
    25%{background-color: orange;}
    50%{background-color: orange;}
    75%{background-color: orange;}
    100%{background-color: orange;}
}
.add-to-cart-btn i, .details i{
  color: #fff;
}

.overlay-text {
  position: absolute;
  bottom: 7px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-weight: 1000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1000;
  font-size: 15px;
  background-color: rgba(24, 9, 0, 0.719);
  padding: 3px 5px;
  border-bottom: 1px solid #999;
  border-radius: 5px 0px 15px 0px;
  align-items: center;
  justify-content: center;
  z-index: 2;
}