.mobile-section {
    display: none;
  }

  @keyframes pulseGlow {
    0% { transform: scale(1); box-shadow: 0 0 10px rgba(29, 12, 1, 0.5); }
    50% { transform: scale(1.1); box-shadow: 0 0 20px  rgba(29, 12, 1, 0.5); }
    100% { transform: scale(1); box-shadow: 0 0 10px  rgba(29, 12, 1, 0.5); }
  }

@media (max-width: 768px) {
  .translate-container{
      margin-right: -5%;
      font-size: 0.7em;
  }
    .img-text {
      display: none;
    }
    .section_next, .img-container{
      display: none;
    }

.mobile-section {
  display: flex;
  content: '';
  top: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 40vh;
  background-image: url('/image/fond_image..jpg'); 
  background-size: cover;
  background-position: center;
   padding: 20px;
  position: relative;
  overflow: hidden;
  z-index: -1;
}

.mobile-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #0a040083 0%, #000000c9 50%, #000000ce 100%);
  opacity: 0.5; 
  z-index: 2;
  animation: particleMove 10s infinite linear;
}
    @keyframes particleMove {
      0% { background-position: 0 0; }
      100% { background-position: 100px 100px; }
    }

    .mobile-btn {
      position: relative;
      padding: 20px 50px;
      margin: 15px 0;
      background: #fff;
      color: #ff6200;
      font-size: 1.1rem;
      font-weight: bold;
      text-decoration: none;
      border-radius: 50px;
      z-index: 3;
      overflow: hidden;
      animation: pulseGlow 2s infinite;
    }

    .mobile-btn::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0;
      height: 0;
      background: rgba(255,98,0,0.2);
      border-radius: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.5s;
      z-index: -1;
    }

    .mobile-btn:hover::after {
      width: 200%;
      height: 200%;
    }

    .mobile-btn:hover {
      color: white;
      animation: none;
    }
  }